* {
  margin: 0;  /* Espaçamentos externos */
  padding: 0; /* Espaçamentos internos */
  box-sizing: border-box; /* Tamanho da caixa */
}

body {
  font-family: Arial, sans-serif; /* Fonte da página */
  background: #f2f2f2; /* Cor de fundo */
  margin: 0; /* Remove margens */
  padding: 20px; /* Espaçamento interno */
}

div {
  max-width: 400px; /* Largura máxima do container */
  margin: auto; /* Centraliza */
  background: #FFF; /* Fundo branco */
  padding: 20px;  /* Espaçamento interno */
  border-radius: 8px; /* Cantos arredondados */
}

input {
  flex: 1; /* Ocupa espaço disponível */
  padding: 10px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
}

button {
  padding: 10px; /* Espaçamento interno do botão */
  margin-left: 10px; /* Espaço entre input e botão */
  font-size: 16px; /* Tamanho da fonte */
}

ul {
  margin-top: 20px; /* Espaço acima da lista */
}

li {
  list-style: none; /* Remove bolinha da lista */
  padding: 10px; /* Espaçamento interno */
  border-bottom: 1px solid #ddd; /* Linha divisória */
  display: flex; /* Layout em linha */
  justify-content: space-between; /* Espaço entre texto e botão */
  align-items: center; /* Alinha verticalmente */
}
.tarefa-concluida{
  color: aquamarine;
  text-decoration: line-through;

}